.jumbotron {
  center no-repeat;
  background-size: cover;
}

.face {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cent {
  text-center;
}

.pd {
  padding-top: 100px;
}

.if {
  overflow-y: hidden;
}

.ppd {
  margin-left: 30px
}

.ppd2 {
  margin-left: 100px
}

.text3 {
  font-family: serif;
}
.li{
  list-style-type: none!important
}
.newf{
  border-radius: 37px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  11px 11px 22px #b0b0b0,
             -11px -11px 22px #ffffff;
}
